/*FONT */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Poppins&family=Raleway:ital,wght@0,500;1,400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* COULEURS UTILISES  */
:root{
    --bleuClair : #DEEBFF;
    --bleu : #0065FC;
    --fondGris : #F2F2F2;
}
/* HEADER */
header, main{
    margin: 0 2%;
}
nav {
    display: flex;
    margin: 0px -10px;
  }
.logo{
    width: 150px;
  /*   height: 50px; */
    margin: 0px 0 10px 12px;
    padding: 13px;
    object-fit: cover;
}
nav img{
    width: 100%;
    /* overflow: hidden; */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

nav li {
    padding-top: 33px;
    width: 141px;
    text-align: center;
}
nav li:hover{
    border-top: var(--bleu) solid 2px;
}
/* .link{ */
    /* padding-left: 40px; */
/* } */
nav a{
    text-decoration: none;
    color: black;
    /* font-size: larger; */
}
a:hover{
    color: var(--bleu);
    transition: 0.3s ease-in-out;
}


/* DIV MAIN */
main h3{
    margin-top: 0%;
    margin-bottom: 12px;
}
p{
    margin-bottom: 10px;
}

/* Barrre de recherche */
.search-container{
    width: 400px;
}
.search-container form{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.search-container form .i-search{
    font-size: 1.3rem;
    height: 43px;
    width: 80px;
    background-color: var(--fondGris);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search-container form .i-search i{
    z-index: 20;
}
.input-search{
    border-style: none;
    width: 100%;
    height: 43px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}
.searchBtn{
    width: 125px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 10px;
    background-color: var(--bleu);
    color: white;
    border-style: none;
    font-size: larger;
}
.searchBtn i {
    display: none;
}
/* FILTERS */
.filters{
    display: flex;
    font-weight: bolder;
     margin: 30px 0; 
     align-items: center;
}
.filters h3{
    margin: 13px 17px 0px 8px;
}
.filters p{
    padding: 0 14px;
}
.filter{
    display: flex;
    border-radius: 50px;
    border: 2px solid rgb(202, 201, 201);
    text-align: center;
    margin: 12px 8px 0 10px;
    max-width: 240px;
}
.filters .fa-solid, .fas {
    padding: 15px;
    margin-left: -6px;
    background-color: var(--bleuClair);
    border-radius: 50%;
    color: var(--bleu);
    align-self: center;
    max-height: 52px;
    border: 2px solid var(--bleuClair);
}
.filter-list{
    display: flex;
    justify-content: space-around;
}

/* INFOS */
.details{
    display: flex;
    align-items: center;

}
.details .fa-solid{
    margin-right: 12px;
}
.details .fa-solid{
    color: blue;
    border-radius: 50%;
    padding: 6px 11px;
    border: rgb(202, 201, 201) solid 1px;
}


/* CENTER */
#center-page{
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 0;
}

/* POPULAIRES */
#center-page > #activities{
    background-color: white;
}
.famous-host, .host{
    flex: 1;
    border-radius: 18px; 
    padding: 20px 30px ;
    
}
.famous-host{
    margin-left: 3%;
    background-color: var(--fondGris);
}
.famous-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.famous-title .fa-solid{
    color: black;
    font-size: x-large;
}
.famous-host-card{
    cursor: pointer;
    width: 100%;
    height: 174px;
    /* text-decoration: none; */
    color: black;
    background-color: white;
    border-radius: 18px;
    display: flex;
    padding: 5px;
    /* margin: 13px 20px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    box-shadow: rgb(230 229 229) 10px 5px 5px;
}
.famous-host-card-image{
    height: 165px;
    width: 175px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    position: relative;
    overflow: hidden;
}
.famous-host-card-details{
    padding: 3px 12px;
    width: 50%; 
    position: relative;
}

.famous-host img{
    width: 100%;
    /* position: absolute; */
    /* top: 0%; */
    /* left: 0%; */
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
/* stars  */
/* .stars{ */
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
/* } */
.famous{
    position: absolute;
    bottom: 15px;
}
.fa-star{
    color: var(--bleu);
}
.grey{
    color: grey;
}

/* HEBERGEMENTS */
h4, .host p{
    margin: 7px 0;
}
/* .host h3{ */
    /* margin-left: 20px; */
/* } */

.host{
    flex: 2;
    background-color: var(--fondGris);
}

.hosting-card-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3%;
}

.hosting-card{
    cursor: pointer;
    width: 30%;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15px 0;
    box-shadow: rgb(230, 229, 229) 10px 5px 5px;
}
.hosting-card-details{
    text-align:justify; 
    padding: 3% 2%;
    width: 100%; 
}

.hosting-card-image{
    height: 121px;
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    overflow: hidden;
}
.hosting-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
/* .small img{ */
    /* top: -78%; */
    /* left: 1%; */
    /* width: 101%; */
/* } */
/* .large img{ */
    /* top: -8%; */
    /* left: 0%; */
    /* width: 100%; */
/* } */
/* .medium img{ */
    /* top: -158%; */
    /* left: -2%; */
    /* width: 103%; */
/* } */


/* ACTIVITES */

.card-activities-list{
    display: flex;
    justify-content: center;
}
.card-activity{
    border-radius: 18px;
    background-color: white;
    /* padding: 5px; */
    box-shadow: rgb(245, 241, 241) 5px 5px 5px;
}

.card-activity, .card-activity-double{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 90%;
    align-items: center;
    /* text-decoration: none; */
    /* color: black; */
    /* margin-right: 45px; */
}
.double{
    MARGIN-BOTTOM: 0px;
}
.card-activity-double{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-content: center;
}
.card-activity-image{
    height: 228px;
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    position: relative;
    overflow: hidden;
}
/* carte-activity-image pour les cartes solo */
.one-card{
    height: 516px;
    width: 100%;
}
/* iles de frioul,notre dame, parc longch  */
.card-activity-image img, .card-activity-double img{
    width: 100%;
    /* position: absolute; */
    /* top: 0%; */
    /* left: 0%; */
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
/* #xlarge img{ */
    /* width: 99%; */
    /* top: -36%; */
    /* left: 0%; */
/* } */
.card-activity + .list{
    align-self: flex-start;
    margin: 10px 0 0 0;
}
/* 1, 3 */
.one-card img{
    width: 196%;
    top: 0%;
    left:0%;
}
.name-activity{
    text-align:justify; 
    padding: 8px;
    width: 100%; 
}



/* FOOTER */
.footer-list{
    background-color: var(--fondGris);
    display: flex;
    justify-content: flex-start;
    margin: 25px 0 0 0;
    padding: 2%;
    align-items: center;
}

#first{
    margin-left: 0;
}
.a-footer{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}


.a-footer li , footer nav ul{
    list-style: none;
    padding:3px 0;
}

.a-footer ul{
    padding: 0;
}

 /* /////////////////////////// */

/* MEDIA SCREEN */
/* tablettes */
@media screen and (max-width: 992px) {
    html{
        width: auto;
        margin: auto;
    }
    .host{
        flex: 1;
    }
    .hosting-card-list{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .hosting-card{
        width: 89%;
    }
}
/* telephones */
@media screen and (max-width : 768px) {
    html, main{
        margin: 0;
    }
     .i-search, .searchBtn, .search-container, footer{
        width: auto;
    }
    /* body */
    body, .filters{
        display: block;
        text-align: justify;
    }
    /* header */
    header{
        display: flex;
        justify-content: center;
        margin: 4% 0;
    }
    nav{
        display: block;
        width: 100%;
    }
    nav li{
        padding-bottom: 17px;
        width: 100%;
        text-align: center;
    }
    nav li:hover{
        border-top: none;
        border-bottom: var(--bleu) solid 3px;
    }
    nav a{
        font-size: large;
    }

    
    .head{
        width: 90%;
        margin: 0 auto;
    }
    .head:hover{
        border-bottom: var(--bleu);
        border-bottom: 1px;
    }
    .logo{
        display: block;
        margin: auto;
    }
    /* main */
    .search-container{
        justify-content: center;
    }
    .text{
        display: none;
    }
    button .fa-solid{
        display: block;
    }
    
    .filter-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* center page */
    #center-page, #activities{
        display: block;
    }
    /* famous */
    .famous-host{
        padding: 3%;
        margin: 0;
        border-radius: 0px;
    }

    /* liste host */
    .host{
        background-color: white;
    }
    /* activities */
    #activities{
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: flex-start; */
        padding: 20px 30px;
    }
    .card-activities-list{
        display: flex;
        flex-direction: column;
        /* align-content: space-around; */
       /*  align-items: center; */
    }
    .card-activity-double{
        width: 100%;
        align-items: flex-start;
    }
    .card-activity{
        width: 100%;
        height: 197px;
        overflow: hidden;
        margin: 15px 0;
    }
    .one-card, .list{
        height: 150px;
    }
    /* 1, 3 */
    .one-card img, #list img{
        /* width: 100%; */
        /* top: 0; */
        /* left: 0; */
        /* overflow: hidden; */
        width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;

    } 
    /* footer */
    .footer-list{
        flex-direction: column;
        align-items: stretch;
    }
    .a-footer{
        margin: 0;
    }
}