/*FONT */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Poppins&family=Raleway:ital,wght@0,500;1,400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* COULEURS UTILISES  */
:root{
    --bleuClair : #DEEBFF;
    --bleu : #0065FC;
    --fondGris : #F2F2F2;
}
/* HEADER */
header, main{
    margin: 0 2%;
}
nav {
    display: flex;
    margin: 0px -10px;
  }
.logo{
    width: 150px;
    margin: 0px 0 10px 12px;
    padding: 13px;
    object-fit: cover;
}
nav img, nav ul{
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
nav li {
    padding-top: 33px;
    width: 141px;
    text-align: center;
}
nav li:hover{
    border-top: var(--bleu) solid 2px;
}
a:hover{
    color: var(--bleu);
    transition: 0.3s ease-in-out;
}
nav a{
    text-decoration: none;
    color: black;
}



/* DIV MAIN */
p{
    margin-bottom: 10px;
}
/* Barrre de recherche */
.search-container{
    width: 400px;
}
.search-container form{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.search-container form .i-search{
    font-size: 22px;
    height: 43px;
    width: 80px;
    background-color: var(--fondGris);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-search{
    border-style: none;
    width: 100%;
    height: 43px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}
.searchBtn{
    width: 125px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 10px;
    background-color: var(--bleu);
    color: white;
    border-style: none;
    font-size: larger;
}
.searchBtn i {
    display: none;
}
/* FILTERS */
.filters{
    display: flex;
    font-weight: bolder;
     margin: 30px 0; 
     align-items: center;
}
.filters h3{
    margin: 13px 17px 0px 8px;
}
.filters p{
    padding: 0 14px;
}
.filter{
    display: flex;
    border-radius: 50px;
    border: 2px solid rgb(202, 201, 201);
    text-align: center;
    margin: 12px 8px 0 10px;
    max-width: 240px;
}
.filter:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.filters .fa-solid{
    font-size: larger;
    padding: 15px;
    margin-left: -6px;
    background-color: var(--bleuClair);
    border-radius: 50%;
    color: var(--bleu);
    align-self: center;
    max-height: 52px;
    border: 2px solid var(--bleuClair);
}
#larger{
    font-size: x-large;
    padding: 13px 17px;
}
.filter-list{
    display: flex;
    justify-content: space-around;
}

/* INFOS */
.details{
    display: flex;
    align-items: center;

}
.details .fa-solid{
    margin-right: 12px;
    color: blue;
    border-radius: 50%;
    padding: 6px 11px;
    border: rgb(202, 201, 201) solid 1px;
}


/* CENTER */

main h3{
    margin-top: 0px;
    margin-bottom: 12px;
}
.host a{
    color: black;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 12px 15px;
}
#center-page{
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 0;
}

/* FAMOUS */

.famous-host, .host{
    flex: 1;
    border-radius: 18px; 
    padding: 20px 30px ;
    
}
.famous-host{
    margin-left: 3%;
    background-color: var(--fondGris);
}
.famous-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}
.famous-title .fa-solid{
    color: black;
}
.famous-host-card{
    cursor: pointer;
    width: 100%;
    height: 174px;
    color: black;
    background-color: white;
    border-radius: 18px;
    display: flex;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    box-shadow: rgb(230 229 229) 10px 5px 5px;
}
.famous-host-card-image{
    height: 165px;
    width: 50%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    overflow: hidden;
}
.famous-host img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.famous-host-card-details{
    padding: 3px 12px;
    width: 50%; 
    position: relative;
}

.famous{
    position: absolute;
    bottom: 15px;
}
.fa-star{
    color: var(--bleu);
}
.grey{
    color: grey;
}

/* HOST LIST*/
h4, .host p{
    margin: 7px 0;
}
.host{
    flex: 2;
    background-color: var(--fondGris);
}

.hosting-card-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3%;
}

.hosting-card{
    cursor: pointer;
    width: 30%;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15px 0;
    box-shadow: rgb(230, 229, 229) 10px 5px 5px;
}

.hosting-card-image{
    height: 121px;
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    overflow: hidden;
}
.hosting-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.hosting-card-details{
    text-align:justify; 
    padding: 3% 2%;
    width: 100%; 
}

/* ACTIVITIES */
#center-page > #activities{
    background-color: white;
}

.card-activities-list{
    display: flex;
    justify-content: center;
}

.card-activity, .card-activity-double{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 90%;
    align-items: center;
}

.card-activity{
    border-radius: 18px;
    background-color: white;
    box-shadow: rgb(245, 241, 241) 5px 5px 5px;
}
.card-activity-double{
    display: flex;
    /* margin: 0; */
    justify-content: space-between;
    align-content: center;
}
.first{
    height: 63%;
}
.second{
    height: 33%;
}
.card-activity-image{
    /* height: 228px; */
    height: 100%;
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
   /*  position: relative; */
    overflow: hidden;
} 
.card-activity-image img,
 .card-activity-double img
 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.name-activity{
    padding: 8px;
    width: 100%; 
}



/* FOOTER */
.footer-list{
    background-color: var(--fondGris);
    display: flex;
    justify-content: flex-start;
    margin: 25px 0 0 0;
    padding: 2%;
    align-items: center;
}

#first{
    margin-left: 0;
}
.a-footer{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}


.a-footer li , footer nav ul{
    list-style: none;
    padding:3px 0;
}

.a-footer ul{
    padding: 0;
}

 /* /////////////////////////// */

/* MEDIA SCREEN */
/* tablettes */
@media screen and (max-width: 992px) {
    .host{
        flex: 1;
    }

    .hosting-card-list, .famous-host-card-list{
        flex-direction: column;
        align-items: center;
    }
    .hosting-card{
        width: 100%;
    }
}
/* telephones */
@media screen and (max-width : 768px) {
     main{
        margin: 0;
    }
     .i-search, .searchBtn, .search-container, footer{
        width: auto;
    }
    /* body */
    body, nav, .filters, .logo, button .fa-solid{
        display: block;
        text-align: justify;
    }
    /* header */
    header{
        display: flex;
        justify-content: center;
        margin: 4% 0;
    }
    nav, nav li{
        width: 100%;
    }
    nav li{
        padding-bottom: 17px;
        text-align: center;
    }
    nav li:hover{
        border-top: none;
        border-bottom: var(--bleu) solid 3px;
    }
    nav a{
        font-size: 19px;
    }
    
    .head{
        width: 90%;
        margin: 0 auto;
    }
    
    .logo{
        margin: auto;
    }
    /* main */
  
    .text{
        display: none;
    }
    
    .filter-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* center page */
    #center-page, #activities{
        display: block;
    }
    /* famous */
    .famous-host{
        margin: 0;
        border-radius: 0px;
    }
    /* host list */
    .host{
        background-color: white;
    }
    /* activities */
    #activities{
        padding: 20px 30px;
    }
    .card-activities-list{
        display: flex;
        flex-direction: column;
    }
    .card-activity-double{
        width: 100%;
    }
    .card-activity{
        width: 100%;
        height: 174px;
        overflow: hidden;
        margin: 15px 0;
    }
    /* footer */
    .footer-list{
        flex-direction: column;
        align-items: stretch;
    }
    .a-footer{
        margin: 0;
    }
}